**Working on smaller chunk of data**

**train_sample & test**

**Data fields** : Each row of the training data contains a click record, with the following features.

1. ip: ip address of click.
2. app: app id for marketing.
3. device: device type id of user mobile phone (e.g., iphone 6 plus, iphone 7, huawei mate 7, etc.)
4. os: os version id of user mobile phone
5. channel: channel id of mobile ad publisher
6. click_time: timestamp of click (UTC)
7. attributed_time: if user download the app for after clicking an ad, this is the time of the app download
8. is_attributed: the target that is to be predicted, indicating the app was downloaded

Note that ip, app, device, os, and channel are encoded.

In [1]:
import pandas as pd
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

MemoryError:

In [ ]:
print(train.shape)
print(test.shape)

In [3]:
train.apply(lambda x: sum(x.isnull()))

ip                     0
app                    0
device                 0
os                     0
channel                0
click_time             0
attributed_time    99773
is_attributed          0
dtype: int64

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
ip                 100000 non-null int64
app                100000 non-null int64
device             100000 non-null int64
os                 100000 non-null int64
channel            100000 non-null int64
click_time         100000 non-null object
attributed_time    227 non-null object
is_attributed      100000 non-null int64
dtypes: int64(6), object(2)
memory usage: 6.1+ MB

In [5]:
train.sample(5)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
49436,73516,18,1,13,107,2017-11-08 15:01:38,NaN,0
91371,102467,2,1,15,477,2017-11-09 06:10:42,NaN,0
38021,56253,23,1,15,153,2017-11-09 11:09:12,NaN,0
66220,43668,2,1,19,212,2017-11-07 08:46:44,NaN,0
87665,240416,2,1,8,477,2017-11-09 01:14:26,NaN,0

In [6]:
train[train['attributed_time'].notnull()].sample(10)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
23606,343178,29,2,19,213,2017-11-09 12:02:56,2017-11-09 12:03:50,1
20001,258509,18,1,16,439,2017-11-08 03:12:13,2017-11-08 06:23:29,1
72169,325318,10,1,47,113,2017-11-09 04:21:02,2017-11-09 04:21:34,1
4300,110652,19,16,0,213,2017-11-09 08:15:34,2017-11-09 09:30:19,1
70278,264987,19,0,24,213,2017-11-08 05:02:06,2017-11-08 05:03:30,1
74306,186843,35,1,17,274,2017-11-07 02:46:03,2017-11-07 05:19:36,1
4603,12506,62,1,19,21,2017-11-08 05:56:57,2017-11-08 08:56:58,1
69193,85364,35,1,13,21,2017-11-07 00:38:43,2017-11-07 09:07:51,1
20526,161034,8,1,13,145,2017-11-07 03:12:15,2017-11-07 05:30:55,1
70100,176243,45,1,10,5,2017-11-07 08:21:55,2017-11-07 08:22:08,1

In [7]:
for c in train.columns:
    if c != 'ip':
        print(train[c].value_counts())
        print('*'*50)
#better way is to plot it

3      18279
12     13198
2      11737
9       8992
15      8595
18      8315
14      5359
1       3135
13      2422
8       2004
21      1979
11      1927
26      1633
23      1454
6       1303
64      1079
7        981
20       911
25       804
28       720
24       704
27       696
19       478
10       388
22       386
17       380
29       360
32       286
5        188
151      109
       ...
551        1
168        1
105        1
233        1
302        1
78         1
112        1
115        1
116        1
372        1
123        1
124        1
548        1
100        1
163        1
99         1
97         1
96         1
31         1
347        1
91         1
538        1
474        1
536        1
216        1
407        1
145        1
271        1
398        1
92         1
Name: app, Length: 161, dtype: int64
**************************************************
1       94338
2        4345
0         541
3032      371
3543      151
3866       93
59         12
6           8
16          7
5           7
40          7
97          5
50          4
25          3
21          3
33          3
4           3
60          3
30          2
160         2
78          2
74          2
7           2
211         2
20          2
67          2
124         2
114         2
182         2
56          2
        ...
116         1
1318        1
180         1
53          1
374         1
1080        1
58          1
188         1
2429        1
103         1
486         1
3545        1
928         1
154         1
3867        1
828         1
220         1
414         1
351         1
607         1
163         1
102         1
291         1
36          1
100         1
420         1
37          1
549         1
2980        1
347         1
Name: device, Length: 100, dtype: int64
**************************************************
19     23870
13     21223
17      5232
18      4830
22      4039
10      2816
8       2775
6       2520
15      2396
20      2347
9       2341
25      2248
16      1691
37      1589
3       1576
41      1348
14      1312
1       1185
12      1103
23      1042
27      1008
32       915
35       914
47       789
53       759
11       752
28       704
30       676
26       482
31       426
       ...
111        2
117        2
78         2
132        2
68         2
152        2
193        1
192        1
836        1
133        1
129        1
106        1
135        1
199        1
168        1
99         1
172        1
174        1
153        1
88         1
151        1
84         1
113        1
114        1
207        1
116        1
142        1
137        1
185        1
127        1
Name: os, Length: 130, dtype: int64
**************************************************
280    8114
245    4802
107    4543
477    3960
134    3224
259    3130
265    3013
153    2954
178    2936
121    2472
205    2369
145    1964
442    1941
459    1921
379    1833
439    1528
128    1486
466    1483
135    1473
480    1468
469    1458
489    1426
237    1408
122    1366
140    1328
219    1303
137    1245
435    1220
232    1211
101    1180
       ...
457      16
356      15
268      13
126      11
174       9
22        8
486       8
5         7
404       7
203       6
341       6
332       5
108       5
488       5
419       5
272       4
420       4
456       4
353       3
483       3
410       2
455       2
15        2
114       1
4         1
261       1
498       1
465       1
474       1
451       1
Name: channel, Length: 161, dtype: int64
**************************************************
2017-11-08 12:01:02    7
2017-11-09 14:46:23    6
2017-11-07 04:36:16    6
2017-11-07 05:00:11    6
2017-11-08 13:32:05    6
2017-11-07 06:28:49    5
2017-11-07 11:02:34    5
2017-11-07 08:32:43    5
2017-11-06 23:27:07    5
2017-11-09 14:40:08    5
2017-11-09 04:00:09    5
2017-11-09 04:34:59    5
2017-11-09 04:36:01    5
2017-11-07 13:59:56    5
2017-11-08 16:20:50    5
2017-11-07 00:14:03    5
2017-11-08 07:38:40    5
2017-11-07 11:53:12    5
2017-11-08 02:59:48    5
2017-11-09 09:40:41    5
2017-11-08 08:02:00    5
2017-11-08 14:20:42    5
2017-11-07 12:43:25    5
2017-11-08 06:13:02    5
2017-11-08 13:56:36    5
2017-11-09 04:34:28    5
2017-11-08 06:02:06    5
2017-11-09 01:14:45    5
2017-11-08 06:49:04    5
2017-11-09 09:53:16    5
                      ..
2017-11-08 14:49:46    1
2017-11-09 05:29:49    1
2017-11-08 23:58:01    1
2017-11-07 04:18:34    1
2017-11-07 14:52:05    1
2017-11-08 01:46:36    1
2017-11-09 12:42:50    1
2017-11-08 02:29:45    1
2017-11-08 14:01:52    1
2017-11-09 10:06:47    1
2017-11-07 12:22:27    1
2017-11-08 01:27:06    1
2017-11-08 07:58:48    1
2017-11-08 03:05:54    1
2017-11-08 03:24:11    1
2017-11-09 14:00:26    1
2017-11-08 04:47:37    1
2017-11-06 17:16:56    1
2017-11-08 05:54:56    1
2017-11-07 11:26:44    1
2017-11-09 13:33:44    1
2017-11-06 16:44:40    1
2017-11-08 17:30:17    1
2017-11-07 01:04:53    1
2017-11-07 04:37:03    1
2017-11-07 10:35:14    1
2017-11-06 16:51:49    1
2017-11-07 11:24:58    1
2017-11-06 19:06:36    1
2017-11-08 22:51:03    1
Name: click_time, Length: 80350, dtype: int64
**************************************************
2017-11-07 07:12:58    1
2017-11-07 05:19:36    1
2017-11-08 09:09:41    1
2017-11-07 01:50:04    1
2017-11-08 04:38:38    1
2017-11-09 09:44:00    1
2017-11-09 08:52:49    1
2017-11-07 13:17:15    1
2017-11-07 11:41:50    1
2017-11-09 11:52:01    1
2017-11-07 14:33:31    1
2017-11-08 22:39:52    1
2017-11-08 15:26:07    1
2017-11-07 09:07:51    1
2017-11-07 14:28:28    1
2017-11-07 10:43:47    1
2017-11-08 00:59:05    1
2017-11-09 08:34:40    1
2017-11-09 14:53:22    1
2017-11-08 05:03:30    1
2017-11-07 05:57:39    1
2017-11-07 23:07:41    1
2017-11-09 06:45:06    1
2017-11-09 08:07:09    1
2017-11-09 15:15:34    1
2017-11-08 12:07:07    1
2017-11-08 15:37:58    1
2017-11-07 01:35:27    1
2017-11-09 11:42:06    1
2017-11-08 13:49:55    1
                      ..
2017-11-08 12:18:44    1
2017-11-09 10:18:07    1
2017-11-07 13:00:22    1
2017-11-07 07:35:47    1
2017-11-08 11:17:24    1
2017-11-08 08:03:26    1
2017-11-07 08:22:08    1
2017-11-08 13:14:18    1
2017-11-08 00:01:03    1
2017-11-07 11:22:32    1
2017-11-08 01:07:33    1
2017-11-09 08:59:35    1
2017-11-08 03:16:13    1
2017-11-09 09:24:31    1
2017-11-08 11:25:09    1
2017-11-09 10:47:54    1
2017-11-08 06:19:51    1
2017-11-07 23:11:40    1
2017-11-08 14:28:21    1
2017-11-09 08:56:28    1
2017-11-07 13:01:41    1
2017-11-07 08:08:09    1
2017-11-09 06:05:22    1
2017-11-08 14:00:05    1
2017-11-09 10:38:02    1
2017-11-07 11:13:21    1
2017-11-08 04:37:46    1
2017-11-09 09:03:22    1
2017-11-08 01:46:26    1
2017-11-09 06:38:34    1
Name: attributed_time, Length: 227, dtype: int64
**************************************************
0    99773
1      227
Name: is_attributed, dtype: int64
**************************************************

In [8]:
train['XX'] = pd.to_datetime(train['click_time'], format="%Y-%m-%d %H:%M:%S")

In [9]:
train['XX'].dt.weekday.value_counts()

2    34035
1    32393
3    28561
0     5011
Name: XX, dtype: int64

In [10]:
test.sample(5)

          click_id      ip  app  device  os  channel           click_time
18335288  18335288   11797    9       2   9      145  2017-11-10 14:51:05
17580982  17580982  111324    2       1  19      236  2017-11-10 14:36:30
16052194  16052194  119278    9       1  15      215  2017-11-10 14:09:22
3968151    3968151   78648    9       1  13      127  2017-11-10 05:12:20
5323974    5323974   73516   11       1  13      481  2017-11-10 05:40:22

In [11]:
test['X'] = pd.to_datetime(test['click_time'], format="%Y-%m-%d %H:%M:%S")

In [12]:
test['X'].dt.day.value_counts()

10    18790469
Name: X, dtype: int64

In [13]:
##since test dataset doesn't samples from different date that is not there in train dataset, weekday and date won't help
#train['date'] = pd.to_datetime(train['click_time'], format="%Y-%m-%d %H:%M:%S").dt.day
train['hour'] = pd.to_datetime(train['click_time'], format="%Y-%m-%d %H:%M:%S").dt.hour
train['minute'] = pd.to_datetime(train['click_time'], format="%Y-%m-%d %H:%M:%S").dt.minute
#train['weekDay'] = pd.to_datetime(train['click_time'], format="%Y-%m-%d %H:%M:%S").dt.weekday
train.dtypes

ip                          int64
app                         int64
device                      int64
os                          int64
channel                     int64
click_time                 object
attributed_time            object
is_attributed               int64
XX                 datetime64[ns]
hour                        int64
minute                      int64
dtype: object

In [14]:
train.drop(['click_time','attributed_time','XX'], axis=1, inplace=True)
train.dtypes

ip               int64
app              int64
device           int64
os               int64
channel          int64
is_attributed    int64
hour             int64
minute           int64
dtype: object

In [15]:
test['hour'] = pd.to_datetime(test['click_time'], format="%Y-%m-%d %H:%M:%S").dt.hour
test['minute'] = pd.to_datetime(test['click_time'], format="%Y-%m-%d %H:%M:%S").dt.minute
test.dtypes

click_id               int64
ip                     int64
app                    int64
device                 int64
os                     int64
channel                int64
click_time            object
X             datetime64[ns]
hour                   int64
minute                 int64
dtype: object

In [16]:
test.drop(['click_time','X'], axis=1, inplace=True)
test.dtypes

click_id    int64
ip          int64
app         int64
device      int64
os          int64
channel     int64
hour        int64
minute      int64
dtype: object

**Data fields** : Each row of the training data contains a click record, with the following features.

1. ip: ip address of click.
2. app: app id for marketing.
3. device: device type id of user mobile phone (e.g., iphone 6 plus, iphone 7, huawei mate 7, etc.)
4. os: os version id of user mobile phone
5. channel: channel id of mobile ad publisher
6. click_time: timestamp of click (UTC)
7. attributed_time: if user download the app for after clicking an ad, this is the time of the app download
8. is_attributed: the target that is to be predicted, indicating the app was downloaded

'app', 'channel', 'time' are critical

In [17]:
train['app'].corr(train['channel'])

-0.028237659717744154

In [18]:
#import seaborn as sns
#sns.pairplot(train[['channel','app']])

In [19]:
train[['channel','app']].sample(10)

       channel  app
29313      280    3
31969      371    3
6630       130    3
98143      258    9
32590      477   13
99956      105   24
24829      439   18
98363      347  151
30926      477   13
45874      334    9

# Model

In [20]:
Xtrain = train.drop(['is_attributed'], axis=1)
ytrain = train['is_attributed']
Xtest = test.drop(['click_id'], axis=1)

In [21]:
train.dtypes

ip               int64
app              int64
device           int64
os               int64
channel          int64
is_attributed    int64
hour             int64
minute           int64
dtype: object

In [22]:
ytrain.dtypes

dtype('int64')

In [23]:
Xtest.dtypes

ip         int64
app        int64
device     int64
os         int64
channel    int64
hour       int64
minute     int64
dtype: object

In [24]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=10)

In [25]:
%time model.fit(Xtrain, ytrain)

Wall time: 693 ms

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [26]:
%time ypred = model.predict(Xtest)

Wall time: 18.6 s

In [92]:
#predictions = [round(value) for value in ypred]

In [27]:
output = pd.read_csv('sample_submission.csv')
output.dtypes

click_id         int64
is_attributed    int64
dtype: object

In [28]:
output['click_id'] = test['click_id']
output['is_attributed'] = ypred

In [29]:
output.shape

(18790469, 2)

In [30]:
output.sample(5)

          click_id  is_attributed
612564      612564              0
12727026  12727026              0
1290375    1290375              0
3857088    3857088              0
6060658    6060658              0

In [31]:
output['is_attributed'].value_counts()

0    18788459
1        2010
Name: is_attributed, dtype: int64

In [32]:
output.to_csv('m2l.csv', index=False)