In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')

In [3]:
print(train.shape)

(15120, 56)

In [4]:
# train.apply(lambda x: sum(x.isnull()))

In [5]:
# train.info()

In [6]:
train.sample(5)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
7537,7538,2855,20,6,457,183,1075,216,228,149,...,1,0,0,0,0,0,0,0,0,2
13096,13097,2193,48,7,0,0,1442,223,225,138,...,0,0,0,0,0,0,0,0,0,4
2225,2226,2660,319,37,180,12,1650,102,179,203,...,0,0,0,0,0,0,0,0,0,6
6784,6785,3067,55,10,335,5,1861,226,220,127,...,0,0,0,0,0,0,0,0,0,1
2437,2438,2683,269,15,0,0,1464,181,244,202,...,0,0,0,0,0,0,0,0,0,5

In [7]:
X = train.iloc[:,:-1]
X.sample(5)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
14982,14983,2334,116,11,30,0,285,240,229,118,...,0,0,0,0,0,0,0,0,0,0
9685,9686,3135,346,8,402,-42,900,205,228,161,...,0,0,0,0,0,0,0,0,0,0
12183,12184,2068,122,38,382,169,384,252,182,20,...,0,0,0,0,0,0,0,0,0,0
3417,3418,2310,202,17,402,16,1266,210,253,172,...,0,0,0,0,0,0,0,0,0,0
13231,13232,2457,272,7,450,151,999,202,242,179,...,0,0,0,0,0,0,0,0,0,0

In [8]:
print(X.shape)
y = train.Cover_Type
print(y.size)

(15120, 55)
15120

## train data split

In [9]:
from sklearn.model_selection import train_test_split
trainX , valX, trainy, valy = train_test_split(X, y, random_state=1, train_size=0.8, test_size=0.2)

In [10]:
print(trainX.size/train.size)

0.7857142857142857

# *MODEL TRAINING*

## estimator count

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error
def modelScore (valueList, trainX, trainy):
    for val in valueList:
        rfmodel = RandomForestClassifier(n_estimators=val, random_state = 1)
        %time rfmodel.fit(trainX, trainy)
        ypred = %time rfmodel.predict(valX)
        mae = mean_absolute_error(valy, ypred)
        print("For nEstimators= {}, MeanAbsoluteError = {}\n".format(val, mae))

In [12]:
# nEstimatorsList = [20, 50, 100, 200, 400, 500]
# nEstimatorsList = [500, 700, 900]
nEstimatorsList = [450, 475, 500, 550]
modelScore(nEstimatorsList, trainX, trainy)

Wall time: 8.99 s
Wall time: 330 ms
For nEstimators= 450, MeanAbsoluteError = 0.31613756613756616

Wall time: 8.87 s
Wall time: 336 ms
For nEstimators= 475, MeanAbsoluteError = 0.31382275132275134

Wall time: 9.01 s
Wall time: 371 ms
For nEstimators= 500, MeanAbsoluteError = 0.31316137566137564

Wall time: 11 s
Wall time: 399 ms
For nEstimators= 550, MeanAbsoluteError = 0.31845238095238093

## leaf count

In [13]:
def modelScore1 (leafList, trainX, trainy):
    for val in leafList:
        rfmodel = RandomForestClassifier(min_samples_leaf=val, random_state = 1)
        %time rfmodel.fit(trainX, trainy)
        ypred = %time rfmodel.predict(valX)
        mae = mean_absolute_error(valy, ypred)
        print("For leaf= {}, MeanAbsoluteError = {}\n".format(val, mae))

In [14]:
leafList = [2, 5, 7, 10, 30, 50, 70, 100, 500]
modelScore1(leafList, trainX, trainy)

Wall time: 187 ms
Wall time: 8.95 ms
For leaf= 2, MeanAbsoluteError = 0.41798941798941797

Wall time: 145 ms
Wall time: 7.01 ms
For leaf= 5, MeanAbsoluteError = 0.4781746031746032

Wall time: 155 ms
Wall time: 6.98 ms
For leaf= 7, MeanAbsoluteError = 0.5165343915343915

Wall time: 129 ms
Wall time: 5.02 ms
For leaf= 10, MeanAbsoluteError = 0.53505291005291

Wall time: 127 ms
Wall time: 5.02 ms
For leaf= 30, MeanAbsoluteError = 0.646494708994709

Wall time: 109 ms
Wall time: 4.99 ms
For leaf= 50, MeanAbsoluteError = 0.6937830687830688

Wall time: 93.8 ms
Wall time: 8.97 ms
For leaf= 70, MeanAbsoluteError = 0.7440476190476191

Wall time: 97.8 ms
Wall time: 3.99 ms
For leaf= 100, MeanAbsoluteError = 0.8343253968253969

Wall time: 66.8 ms
Wall time: 4.02 ms
For leaf= 500, MeanAbsoluteError = 1.3187830687830688

In [15]:
rfmodel = RandomForestClassifier(n_estimators=500, max_features="auto", random_state = 1)
%time rfmodel.fit(X,y)
#trainX,trainy combo OR X,y combo

Wall time: 12.4 s

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

### checking accuracy

In [16]:
ypred = rfmodel.predict(valX)
print(valX.shape)
print(ypred.size)

(3024, 55)
3024

In [17]:
from sklearn.metrics import accuracy_score
print("Accuracy in train set :" , rfmodel.score(trainX, trainy))
print("Accuracy in test set :" , accuracy_score(valy, ypred))

Accuracy in train set : 1.0
Accuracy in test set : 1.0

In [18]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(valy, ypred)
mae

0.0

# **_THE CLIMAX_**

In [19]:
test = pd.read_csv('test.csv')
test.shape

(565892, 55)

In [20]:
test.head(5)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,15121,2680,354,14,0,0,2684,196,214,156,...,0,0,0,0,0,0,0,0,0,0
1,15122,2683,0,13,0,0,2654,201,216,152,...,0,0,0,0,0,0,0,0,0,0
2,15123,2713,16,15,0,0,2980,206,208,137,...,0,0,0,0,0,0,0,0,0,0
3,15124,2709,24,17,0,0,2950,208,201,125,...,0,0,0,0,0,0,0,0,0,0
4,15125,2706,29,19,0,0,2920,210,195,115,...,0,0,0,0,0,0,0,0,0,0

In [21]:
%time finalPred = rfmodel.predict(test)
finalPred.shape

Wall time: 53.7 s

(565892,)

In [22]:
output = pd.DataFrame({"Id": test.Id, 
                       "Cover_Type": finalPred})
output.shape

(565892, 2)

In [23]:
output.sample(5)

        Cover_Type      Id
549465           5  564586
7125             2   22246
4477             2   19598
446157           1  461278
472832           1  487953

In [24]:
output.to_csv("m1submission5.csv", index=False)