In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')

In [3]:
print(train.shape)

(15120, 56)

In [4]:
# train.apply(lambda x: sum(x.isnull()))

In [5]:
# train.info()

In [6]:
train.sample(5)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
8653,8654,2796,212,9,437,39,1909,213,249,172,...,0,0,0,0,0,0,0,0,0,5
10461,10462,3260,53,14,309,78,4207,227,209,112,...,0,0,0,0,0,0,0,1,0,1
1070,1071,3001,57,18,180,28,4673,229,200,97,...,0,0,0,0,0,0,0,0,0,1
705,706,2849,293,22,120,44,2115,154,229,213,...,0,0,0,0,0,0,0,0,0,2
1623,1624,2633,68,8,42,2,979,228,225,130,...,0,0,0,0,0,0,0,0,0,5

In [7]:
X = train.iloc[:,:-1]
X.sample(5)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
10287,10288,3334,302,21,450,138,598,158,225,206,...,0,0,1,0,0,0,0,0,0,0
6885,6886,3317,151,8,216,3,3874,231,240,141,...,0,0,0,0,0,0,0,1,0,0
12640,12641,2212,355,29,212,98,1020,160,175,143,...,0,0,0,0,0,0,0,0,0,0
6470,6471,2955,325,13,90,12,2492,187,225,178,...,1,0,0,0,0,0,0,0,0,0
776,777,3083,45,5,256,49,3776,221,229,143,...,0,0,0,0,0,0,0,0,0,0

In [8]:
print(X.shape)
y = train.Cover_Type
print(y.size)

(15120, 55)
15120

In [9]:
from sklearn.model_selection import train_test_split 
trainX , valX, trainy, valy = train_test_split(X, y, random_state=1)

## attempt 1 (sample_submission.csv)

In [27]:
# from sklearn.ensemble import RandomForestClassifier

# rfModel = RandomForestClassifier(random_state=1)

# rfModel.fit(trainX, trainy)

In [28]:
# ypred = rfModel.predict(valX)
# print(valX.shape)
# print(ypred.size)

In [29]:
# from sklearn.metrics import mean_absolute_error
# mae = mean_absolute_error(valy, ypred)
# mae

### checking accuracy

In [30]:
# from sklearn.metrics import accuracy_score
# print("Accuracy in training set :" , rfModel.score(trainX, trainy))
# print("Accuracy in training set :" , accuracy_score(valy, ypred))

## attempt 2 (m1submission2.csv)

In [32]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error
def modelScore (valueList, trainX, trainy):
    for val in valueList:
        rfmodel = RandomForestClassifier(n_estimators=val, random_state = 1)
        rfmodel.fit(trainX, trainy)
        ypred = rfmodel.predict(valX)
        mae = mean_absolute_error(valy, ypred)
        print("For XXXXX= {}, MeanAbsoluteError = {}".format(val, mae))

In [53]:
# nEstimatorsList = [20, 50, 100, 200, 400, 500]
# nEstimatorsList = [70, 100, 120]
nEstimatorsList = [70, 75, 80, 85]
modelScore(nEstimatorsList, trainX, trainy)

For XXXXX= 70, MeanAbsoluteError = 0.3235449735449735
For XXXXX= 75, MeanAbsoluteError = 0.31825396825396823
For XXXXX= 80, MeanAbsoluteError = 0.31613756613756616
For XXXXX= 85, MeanAbsoluteError = 0.3171957671957672

## attempt 3 (m1submission3.csv)

In [1]:
def modelScore1 (leafList, trainX, trainy):
    for val in leafList:
        rfmodel = RandomForestClassifier(min_samples_leaf=val, random_state = 1)
        rfmodel.fit(trainX, trainy)
        ypred = rfmodel.predict(valX)
        mae = mean_absolute_error(valy, ypred)
        print("For XXXXX= {}, MeanAbsoluteError = {}".format(val, mae))

In [54]:
leafList = [2, 5, 7, 10, 30, 50, 70, 100, 500]
modelScore1(leafList, trainX, trainy)

For XXXXX= 2, MeanAbsoluteError = 0.40343915343915343
For XXXXX= 5, MeanAbsoluteError = 0.4714285714285714
For XXXXX= 7, MeanAbsoluteError = 0.49497354497354495
For XXXXX= 10, MeanAbsoluteError = 0.5116402116402117
For XXXXX= 30, MeanAbsoluteError = 0.6492063492063492
For XXXXX= 50, MeanAbsoluteError = 0.7656084656084656
For XXXXX= 70, MeanAbsoluteError = 0.7796296296296297
For XXXXX= 100, MeanAbsoluteError = 0.8092592592592592
For XXXXX= 500, MeanAbsoluteError = 1.3129629629629629

In [56]:
rfmodel = RandomForestClassifier(n_estimators=80, max_features="auto", random_state = 1)
rfmodel.fit(trainX, trainy)
%time

Wall time: 0 ns

# **_the climax_**

In [57]:
test = pd.read_csv('test.csv')
test.shape

(565892, 55)

In [19]:
test.head(5)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,15121,2680,354,14,0,0,2684,196,214,156,...,0,0,0,0,0,0,0,0,0,0
1,15122,2683,0,13,0,0,2654,201,216,152,...,0,0,0,0,0,0,0,0,0,0
2,15123,2713,16,15,0,0,2980,206,208,137,...,0,0,0,0,0,0,0,0,0,0
3,15124,2709,24,17,0,0,2950,208,201,125,...,0,0,0,0,0,0,0,0,0,0
4,15125,2706,29,19,0,0,2920,210,195,115,...,0,0,0,0,0,0,0,0,0,0

In [58]:
finalPred = rfModel.predict(test)
finalPred.shape

(565892,)

In [59]:
output = pd.DataFrame({"Id": test.Id, 
                       "Cover_Type": finalPred})
output.shape

(565892, 2)

In [41]:
output.sample(5)

        Cover_Type      Id
3350             2   18471
354905           6  370026
224171           6  239292
474285           1  489406
489522           7  504643

In [61]:
output.to_csv("m1submission3.csv", index=False)